.about-section {
  text-align: center;
  background-color: rgba(220, 220, 220, 0.6);
  padding: 5%;
  height: 50rem;
}

.about-content {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr ;
  height: 70%;
}


.intro-cont, .skills-cont {
  font-size: 1.5rem;
  padding: 5% 8%;
  text-align: start;
}

.intro-cont p {
  font-size: 1.2rem;
  color: rgb(123, 123, 123);
  font-weight: 500;
  text-align: justify;
}

.skills-box {
  
  max-width: 454px;
  height: 60px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollleft {
  to {
    left: -456px;
  }
}

.skill {
  width: 180px;
  height: 60px;
  font-size: 1.2rem;
  background: rgb(180,180,180);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
  position: absolute;
  left: calc(180px * 6);
  animation: scrollleft 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.skill img {
  height: 2rem;
  margin-right: 10px;
}

.skill-4 img {
  height: 2.3rem;
}

.skill-5 img {
  height: 1.3rem;
}

.skill-1 {
  animation-delay: calc(15s / 6 * (6 - 1) * -1);
}

.skill-2 {
  animation-delay: calc(15s / 6 * (6 - 2) * -1);
}

.skill-3 {
  animation-delay: calc(15s / 6 * (6 - 3) * -1);
}

.skill-4 {
  animation-delay: calc(15s / 6 * (6 - 4) * -1);
}

.skill-5 {
  animation-delay: calc(15s / 6 * (6 - 5) * -1);
}

.skill-6 {
  animation-delay: calc(15s / 6 * (6 - 6) * -1);
}


@media (max-width: 1300px) {
  .about-section {
    height: 60rem;
  }
}

@media (max-width: 850px) {
  .about-content {
    grid-template-columns: 1fr 
  }
}

@media (max-width: 800px) {
  .about-section {
    height: 75rem;
    padding: 10% 5%;
  }

  .about-content {
    padding: 3%;
  }

  .about-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 699px) {
  .about-section {
    height: 85rem;
  }
}


