
.contact-section {
  padding: 5%;
  background-image: url('./../images/background.jpg');
  background-repeat: no-repeat;
  height: 62rem;
}

@media (max-width: 500px) {
  .contact-section {
    height: 64rem;
  }
}

.cont-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cont-header p {
  max-width: 700px;
}

.contact-cont {
  display: flex;
  column-gap: 10px;
  justify-content: center; 
 
}

.contact-item {
  height: 200px;
  width: 140px;
  border-radius: 20px;
  border: 3px solid #666;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  transition: width 0.5s;
  position: relative;
}

.contact-item button {
  border: none;
  background-color: #ff8945;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: white;

}

.contact-item button:hover {
  cursor: pointer;
  background-color: rgb(255, 150, 80);
}

.contact-item:hover {
  cursor: pointer;
}

.contact-logo {
  height: 50px;
}

.opened {
  width: 500px;
  overflow: hidden;
}

.card {
  opacity: 0;
  visibility: hidden;
  display: flex;
  height: 194px;
  width: 500px;
  background-color: white;
  position: absolute;
  
  transition: opacity 0.5s, visibility 0.5s, transform 0.3s linear 0.2s
}

/* .card:not(.open) {
  transform: translateX(-20px);
} */


@media (max-width: 900px) {
  .contact-item {
    height: 250px;
  }

  .card {
    flex-direction: column;
    text-align: center;
    transform: translateY(-24px);
  }

  .card-image-cont {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  .card {
    transform: scale(0.8) translateY(-30px)
  }
}

.open {
  opacity: 1;
  visibility: visible;
  /* transform: translateX(10px); */
}

.card-image-cont {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  min-width: 150px;
}

.card-image-cont  img{
  border-radius: 50%;
  height: 150px;
}

.card-desc-cont {
  display:flex;
  flex-direction:column;
  row-gap: 5px;
  justify-content:center;
}

.card-desc-cont span {
  font-weight: 600;
}

.card-desc-cont a {
  font-size: 10px;
}

.contact-me-cont {
  background-color: white;
  padding: 40px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 2px 2px 6px #dddddd;

}

.label-cont {
  margin-bottom: 20px;
}

.contact-me-cont form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-cont div {
  width: 100%; 
}


.contact-me-cont label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-me-cont input, 
.contact-me-cont textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #dddddd;
}

.contact-me-cont button {
  background-color: #dddddd;
  font-size: 20px;
  border: none;
  padding: 12px 40px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  width: 200px;
  transition: background-color 0.3s;
}

.contact-me-cont button:hover {
  background-color: #ff8945;
  cursor: pointer;
}




