
.contact-section {
  height: 1000px;
  text-align: center;
  padding: 5% 10%;
  background-image: url('./../images/background.jpg');
  background-repeat: no-repeat;
  height: 38rem;
}

.contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-box {
  width: 60%;
  margin: 20px auto;
}

.email {
  width: 100%;
}

.email img {
  width: 36%;
}

.contact-logo {
  width: 60%;
  margin-bottom: 25px;
}


.contact-box p {
  display: inline;
  font-size: 25px;
}

.link-logo {
  display: inline;
  width: 20px;
}

@media (max-width: 800px) {
  .contacts-container {
    grid-template-columns: 1fr;
  }

  .contact-box {
    transform: scale(0.8);
  }

  .contact-section {
    height: 70rem;
    padding: 10% 10% ;
  }
}

