.footer {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 16px;
}

.footer p {
  color: white;
  font-size: 14px;
}

@media (max-width: 800px) {
  .footer p {
    font-size: 11px;
  }
}