
.home-section {
  background-image: url('./../images/background.jpg');
  background-repeat: no-repeat;
  height: 38rem;
  margin-top: 70px;
  display: flex;
  column-gap: 20px;
}

.image-cont {
  display:flex;
  align-items: center;
  justify-content: center;
}

.image-cont img {
  margin: 0px 30px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #ddd;
  animation : roundup 3s ease-in-out infinite;
}

@keyframes roundup {
  0% { box-shadow: 0px 10px 6px #ddd}
  12.5% { box-shadow: 10px 10px 6px #ddd}
  25% { box-shadow: 10px 0px 6px #ddd}
  37.5% { box-shadow: 10px -10px 6px #ddd;}
  50% {box-shadow: 0px -10px 6px #ddd;}
  62.5% { box-shadow: -10px -10px 6px #ddd;}
  75% {box-shadow: -10px 0px 6px #ddd;}
  87.5% {box-shadow: -10px 10px 6px #ddd;}
  100% {box-shadow: 0px 10px 6px #ddd}
}

.desc-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  row-gap: 20px
}

.desc-cont h2 {
  font-size: 3rem;
  line-height: 3.2rem;
}

.desc-cont p {
  font-size : 1.5rem;
  font-weight: 600;
  text-align: justify;
  color: #666;
}

@media (max-width: 1000px) {
  .desc-cont {
    padding-right: 10px;
  }
}

@media (max-width: 850px) {
  .home-section {
    flex-direction: column;
  }

  .image-cont, 
  .desc-cont {
    margin: 0px 20px;
  }

  .image-cont {
    margin-top: 50px;
  }

  .desc-cont {
    margin-top: 30px;
    text-align: center;
  }


  .image-cont img {
    width: 230px;
    height: 230px
  }

  .desc-cont h2 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  
  .desc-cont p {
    font-size : 1.3rem;
    text-align: center;
  }
}