.projects-section {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 5%;
}

.project-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 50px;
  margin-bottom: 50px;
}

.project-container img {
  width: 100%;
  box-shadow: 
  2px 2px 5px rgba(123, 123, 123, 0.4), 
  -2px -2px 5px rgba(123, 123, 123, 0.4),
  2px -2px 5px rgba(123, 123, 123, 0.4),
  -2px 2px 5px rgba(123, 123, 123, 0.4);
  border-radius: 10px;
}

.project-container img:hover {
  box-shadow: 
  2px 2px 20px rgba(123, 123, 123, 0.4), 
  -2px -2px 20px rgba(123, 123, 123, 0.4),
  2px -2px 20px rgba(123, 123, 123, 0.4),
  -2px 2px 20px rgba(123, 123, 123, 0.4);
}


.project-right-section {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: auto 0px;
  row-gap: 20px;
}


.project-title {
  font-size: 1.8rem;
}

.project-desc {
  font-weight: bold;
  color: #666;
}


.project-right-section a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ff8945;
  width: 50%;
  text-align: center;
  padding: 4%;
}

.project-right-section a:hover {
  box-shadow: 
  2px 2px 5px rgba(123, 123, 123, 0.4), 
  -2px -2px 5px rgba(123, 123, 123, 0.4),
  2px -2px 5px rgba(123, 123, 123, 0.4),
  -2px 2px 5px rgba(123, 123, 123, 0.4);
  transform: scale(0.9);
}

.last-project {
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  .project-container {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .project-right-section {
    align-items: center;
    text-align: center;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .projects-section {
    padding: 10% 5%;
  }
}



